body {
  background: #eee;
  text-align: center;
  width: 60%;
  margin: auto;
  font-family: "Montserrat", sans-serif;
}

a {
  color: #415e96;
}

ul {
  text-align: left;
}

.section-separator {
  width: 10%;
  border: #3164ca dotted 10px;
  border-bottom: none;
  margin: 100px auto;
}

.pro {
  color: #34568B;
  text-decoration: underline;
}
