$defaultBgColor: #faf0e6;
$defaultTextColor: #333;
$darkerTextColor: #111;
$navbarColor: #fde3c7;

$pagePadding: 2rem 0;

$defaultTitlesFont: "Libre Baskerville", Helvetica, Arial;
$highlightedTitlesFont: Merriweather, Helvetica, Arial;

$defaultFont: Montserrat, Arial, sans-serif;
$highlightedFont: "Bodoni Moda", Helvetica, Arial;