<nav class="navbar">
    <ul class="nav-list">
        <li><a class ="nav-item" href="/#me">Me</a></li>
        <li><a class ="nav-item" href="/#projects">My Projects</a></li>
        <li><a class ="nav-item text-primary" href="/#contact">Contact</a></li>
    </ul>
</nav>
