$width: 90%;
$maxWidth: 700px;

#post-content :deep() {
    width: $width;
    max-width: $maxWidth;

    margin: auto;

    #title {
        text-align: center;
        max-width: $maxWidth;
        font-size: 3rem;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    p {
        margin: 20px;
        font-size: 1.2rem;
    }

    img {
        width: 300px;
        text-align: center;
        margin: auto;
        display: block;
    }

    #featured-img {
        width: $width;
    }
}