body {
    background: #eee;
    text-align: center;
    width: 80%;
    margin: auto;
    min-width: 268px;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

a {
    color: #415e96;
}

p {
    text-align: justify;
}

#profile-photo {
    width: 30vw;
}

.profile {
    margin: auto;
}

.profile-content {
    width: 30vw;
    margin: auto;
}

#contact {
    background: #222;
    padding: 20px;
}

.navbar {
    margin-top: 10px;
    background: #222;
    padding: 20px;
    border-radius: 10px;
    color: orange;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.nav-item {
    color: #eee;
    text-decoration: none;
    margin: auto 20px;
}

.nav-item:hover {
    color: #7088ad;
    font-weight: bold;
}

.footer {
    margin-top: 30px;
    background: #222;
    padding: 20px;
    color: #eee;
    border-radius: 10px;
}

.title {
    font-family: Merriweather, serif;
    font-size: 36px;
    font-weight: 700;
    color: #1f3453;
}

.subtitle {
    font-size: 20px;
    font-weight: 300;
}

.project-item {
    background: #222;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 20px;
}

.project-item a {
    color: #eee;
    text-decoration: none;
    font-weight: bold;
    font-weight: 700;
}

.project-image {
    width: 100%;
}

.contact-content {
    padding: 10px;
}

.contact-content div {
    padding: 10px;
    background: #222;
}

.social-image {
    width: 80%;
}

.section-separator {
  width: 10%;
  border: #222 dashed 10px;
  border-bottom: none;
  margin: 50px auto;
}

.mt-1 {
    margin-top: 20px;
}

.text-center {
    text-align: center;
}
.section-separator {
  width: 10%;
  border: #222 dashed 10px;
  border-bottom: none;
  margin: 50px auto;
}

.pro {
  color: #34568B;
  text-decoration: underline;
}

.mt-50 {
    margin-top: 50px;
}

.text-center {
    text-align: center;
}

@media (max-width: 500px) {
    body {
        width: 90%;
    }

    .navbar {
        padding: 5px;
    }

    .nav-item {
        margin: auto 5px;
    }

    #profile-photo {
        width: 50vw;
    }

    .profile-content {
        width: 50vw;
    }
}

@media (max-width: 338px) {
    body {
        width: 90%;
        word-wrap: break-word;
    }

    .navbar {
        padding: 5px;
    }

    .nav-item {
        margin: auto 5px;
    }

    #profile-photo {
        width: 80vw;
    }

    .profile-content {
        width: 80vw;
    }
}
